body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    margin: 50px;
}

form, .table, #buscar-mercadoria {
    width: 500px;
    margin: auto;
}

form div, form button {
    margin-top: 20px;
}

/* compra  */
#buscar-mercadoria {
    margin-bottom: 10px;
}

/* tela login */
#login-form {
    width: 400px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* footer */
footer div {
    background-color: #eee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    height: 150px;
}

/* navbar */
.nav-item:hover {
    background-color: #eee;
}
.logo {
    width: 50px;
}

/* home */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards a {
    text-decoration: none;
    text-align: center;
}
.card {
    margin: 50px;
    height: 300px;
}

/* compra e venda */
.barra {
    width: 650px;
    margin: auto;
}

.total {
    display: flex;
    justify-content: center;
}
.total div {
   width: 75px;
   height: 45px;
   line-height: 45px;

   background-color: #eee;
   margin: 10px;

   text-align: center;
   font-size: 20px;

}

/* busca */
.desativo {
    background-color: #ccc;
}
.desativo img {
    filter: brightness(40%);
} 
.desativo h5 {
    color: #0d6dfd80;
}

/* voltar */
.voltar {
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

/* responsividade*/ 
@media(max-width: 650px) {
    .barra {
        width: 100%;
    }
    .voltar {
        margin-left: 0;
    }
}
@media(max-width: 500px) {
    form, .table, #buscar-mercadoria {
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}