body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    margin: 30px;
}

form, .table, #buscar-mercadoria, #grafico {
    width: 500px;
    margin: auto;
}

form div, form button, #buscar-mercadoria {
    margin-top: 20px;
}

/* tela login */
.nome-empresa {
    color: #fff;
    text-align: center;
    font-family: 'Indie Flower', cursive;  
}
.nome-empresa-titulo {
    margin-top: 50px;
    margin-bottom: 50px;
}
.nome-empresa-navbar {
    font-size: 30px;
}
#login-form {
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}
#login {
    background-color: #212529;
}

/* footer */
footer div {
    background-color: #212529;
    color: #fff;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    height: 150px;      
}

/* navbar */
.nav-item:hover, .clicado {
    background-color: #b9bec413;
}

/* home */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards a {
    text-decoration: none;
    text-align: center;
}
.card {
    margin: 50px;
    height: 300px;
}

/* compra e venda */
.barra {
    width: 650px;
    margin: auto;
}
.total {
    display: flex;
    justify-content: center;
}
.total div {
   width: 75px;
   height: 45px;
   line-height: 45px;

   background-color: #eee;
   margin: 10px;

   text-align: center;
   font-size: 20px;
}

/* naoEstaClicado */
.naoEstaClicado {
    background-color: #ccc;
}
.naoEstaClicado img {
    filter: brightness(40%);
} 
.naoEstaClicado h5 {
    color: #0d6dfd80;
}

/* voltar */
.voltar {
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

/* desenvolvedores */
.desenvolvedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border: 1px solid #ddd;
    padding: 20px;
}
.desenvolvedor-foto {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-right: 10px;
}
.desenvolvedor p {
    width: 400px;
    text-align: center;
}
.icone {
    width: 80px;
}
.redes-sociais {
    display: flex;
    justify-content: space-around;
}

/* responsividade*/ 
@media(max-width: 650px) {
    .voltar {
        margin-left: 0;
    }
    #grafico, form, .barra, .desenvolvedor p, .table, #buscar-mercadoria, .card  {
        width: 100%;
    }
    .card {
        margin: 0;
        margin-top: 10px;
    }
    .desenvolvedor-foto {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin: 0;
    }
    .desenvolvedor-nome {
        text-align: center;
    }
    #login-form {
        border-radius: 0;
    }
}

