h2 {
    text-align: center;
    margin: 50px;
}

form, .table, #buscar-produto {
    width: 500px;
    margin: auto;
}

form div, form button {
    margin-top: 20px;
}

/* compra  */
#buscar-produto {
    margin-bottom: 10px;
}

/* tela login */
#login-form {
    width: 400px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
}